# Environments
.venv/
__pycache__/

# Weights
llama3-math-tutor-adapter/
llama3-math-tutor-adapter-v2/
llama3-math-tutor-adapter-v3/
llama3-math-tutor-adapter-v4/
# Data
# Excluding all generated data initially except tracked
data/generated/
